# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# txt files
groups.txt
/chatlogs/*.chatlog.txt

#secrets
dnd-message-time-key-pair.pem

# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
